#square {
      width: 100px;
      height: 100px;
      background: blue;
      position: absolute;
      left: 0;
      top: 400;
    }

    .stuff{
      background: yellow;
      color:black;
    }

    #third{
      background: purple;
      color:white;
    }

    body{
        background-color: white;
    }
